.copyright{
    color: #EAF6F6;
    margin-bottom: 0px;
    position: relative;
    top: 70px;
    
    }

.footer-link{
    color: #11999E;
    position: relative;
    top: 40px;
    margin: 30px;
}

.h3-ch{
    color: #11999E;
}

.top{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.mid{

}

.bot{
    height: 200px;
background-color: #66BFBF;
}

.pro{
    text-decoration: underline;
}
.topcloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottomcloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.pb{
    margin-top: 50px;
    border-radius: 100%;
}

.programmer{
    margin-top: 0;
}

.skill-row{
    width: 50%;
    margin: 50px auto;
    text-align: left;
    line-height: 2.5;

}
.startup{
    width: 18%;
    float: left;
    margin-right: 30px;
}

.chilli {
    width: 15%;
    float: right;
    margin-left: 30px;
}

body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;          
}

h1{
margin: 50px auto 0px auto;
font-family: 'Sacramento', cursive;
font-size: 5.625rem;
color: #66BFBF;
}
h2{
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
color: #66BFBF;
font-weight: normal;
}
h3{
font-family: 'Montserrat', sans-serif;
color: #66BFBF;
}
p{
color: #40514e;
}
hr{
border-style: dotted none none;
border-width: 6px;
height: 0px;
width: 5%;
border-color: #EAF6F6;
}